<!DOCTYPE html> 
<htmml lang="en">
    <h1>
        <meta charset="UTF-8">
        <title>Quiz Setup</title>
        Quiz Setup
    </h1>
<body>

    <form method="POST" action="http://127.0.0.1:5000/restrictaccess">
        Quiz Name: <input type="text" name="quizName" value="">
        <br><br>
        Number of attempts: <input type="text" name="attempts" value="">
        <br><br>
        Start time: <input type="date" name="stime" value="">
        <br><br>
        End time: <input type="date" name="etime" value="">
        <br><br>
        <input type="submit" name="createQuiz" value="Create Quiz">
        <input type="submit" name="Logout" formaction="http://127.0.0.1:5000/" value="Logout">
    </form>
</body>
</htmml>