<!DOCTYPE html>
<html>
<title>Quiz</title>

<body>

    <!-- Main header to display Quiz name -->
    <h1>Quiz 1:{{name}}</h1>

    <!-- Check if user can take the quiz -->
    {% if permission == False %}
        <h1>You are not allowed to take this quiz</h1>
    {% else %}
    <!-- Display Quiz quesiton and Quiz choices section -->
    <div>
        <form action="done.html">
            <!-- print out the questions -->
            {%for q in questions%}
                <p>{{loop.index}}. {{q[0]}}</p>
                {% set outer_loop = loop.index %}

                <!-- print out the 4 options for each question -->
                {% for choice in choiceList[loop.index-1] %}
                    {% set name = ["choice", outer_loop]|join() %}
                    <input type= "radio" name= {{name}} value= {{choice}}> {{choice}}<br>

                {% endfor %}

            {% endfor %}
            
            <br>
            <input type="submit" value="Submit" />
        </form>
    </div>
    {% endif %}

    <br>

    <!--Display Button section -->
    <div>
        <!-- <form action="done.html">
            <input type="submit" value="Submit" />
            
        </form> -->
        <!-- <a href=”/your_flask_funtion”><input type=”submit” value=”call_flask_funtion”></a> -->
    <br>
        <form action="">
            <input type="submit" value="Stop" />
        </form>

    </div>
    
    
    <!-- <p>1. What is the full meaning of venv?</p>
    <input type= "radio" name= "choices" value= "virtual environment"> Virtual environment
    <br><input type= "radio" name= "choices" value= "virtual environment"> Virtual envy
    <br><input type= "radio" name= "choices" value= "virtual environment"> Vimeo environment variable
    <br><input type= "radio" name= "choices" value= "virtual environment"> Video environment
    <br>
    <br>
    <a href = "done.html"> -->
        <!-- <button > Submit </button> -->
    </a>
</body>

</html>