<!DOCTYPE html>
<html>
<title>HTML Tutorial</title>

<body>

    <h1>Quiz 1</h1>
    <p>1. What is the full meaning of venv?</p>
    <input type= "radio" name= "choices" value= "virtual environment"> Virtual environment
    <br><input type= "radio" name= "choices" value= "virtual environment"> Virtual envy
    <br><input type= "radio" name= "choices" value= "virtual environment"> Vimeo environment variable
    <br><input type= "radio" name= "choices" value= "virtual environment"> Video environment
    <br>
    <br>
    <a href = "done.html">
        <button > Submit </button>
    </a>
</body>

</html>