<!DOCTYPE html>
<html>
<title>Quizzes</title>

<body>

    <h1>Quizzes</h1>
    <!-- checking the length of the varible quizNames -->
    {%if quizNames|length == 0 %}
        <h1>There are no quizzes available at the moment.</h1>
    {% endif %}

    <!-- printing all the available quizzes  -->
    <form method="POST" action="quiz.html">
        {%for name in quizNames%}
            <!-- {% set page = ["quiz", loop.index, ".html"]|join()  %} -->
            <!-- <p>Quiz {{loop.index}} : <a href="quiz.html" id="{{name}}"> {{name}} </a> </p> -->
            <input type= "radio" name= 'quiz' value="{{name}}"> Quiz {{loop.index}}: {{name}}<br>
            <input type="submit" name="button" value="Take Quiz"> 
        {% endfor %}
    </form>
    
			
	<b>View Quiz Results</b><br>
	<a href="stu_quiz_grades">View Specific Quiz Grade</a><br>
	<a href="stu_quiz_detailed">View Detailed Grade Summary</a><br>

</body>

</html>