<!DOCTYPE html>
<html>
    <head>
        <title>Question Creation</title>
        <script src="{{url_for('static', filename='addAnswer.js')}}"></script>
    </head>
    
    <body>
        <h1>Add questions,answers and choices</h1>
        <br>
        <br>
        <form>
            Question: <input type="text" size="15" name="question" value="">
            <br>
        </form>
        <div id="answerDiv">
            <button onclick="addAnswer()" value="Add Answer">Add Answer</button> 
        </div>
        
        
            
    </body>
</html>